@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");

body {
  font-family: sans-serif;
}

.home {
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  height: 100vh;
  justify-content: center;
}

.login2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  margin-bottom: 10%;
}
.todo {
  margin-top: 5%;
}

.logo {
  margin-bottom: -5%;
  border-radius: 25px;
}

.slogan {
  margin-top: 50%;
  margin-bottom: 50;
}

.test {
  background-color: white;
}

.todolo {
  background-color: cornflowerblue;
}
