@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./assets//background.png");
}

.login2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  margin-bottom: 10%;
}

.healtharticles {
  position: absolute;
  right: 2%;
  font-size: small;
  margin-top: 50px;
}

.snippet {
  position: absolute;
  left: 2%;
  font-size: small;
  margin-top: 50px;
}
.logo {
  margin-bottom: -10%;
}
.title {
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Crimson Text", serif;
}

.slogan {
  margin-top: 50%;
  margin-bottom: 50;
}

.test {
  background-color: white;
  border-radius: 25px;
}

.home {
  background-image: url("./assets//background.png");
}
